# 官方二进制产物
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# 测试&覆盖率文件
*.out
coverage.*
*.coverprofile
profile.cov
*.trace
*.pprof

# Go模块缓存
go.work
go.work.sum
vendor/

# 环境变量、密钥
.env
.env.local
.env.dev
.env.prod

# 编译临时目录
bin/
build/
dist/

# OS系统垃圾文件
.DS_Store
Thumbs.db

# IDE编辑器文件
.idea/
.vscode/
*.swp
*.swo
*~

# 日志文件
*.log
logs/
